################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.testlog
/.vs/FiscalNet/v17/TestStore/0/testlog.manifest
*.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/FiscalNet/bin/Debug
/FiscalNet/obj
/FiscalNetTestes/bin
/FiscalNetTestes/obj
*.v2
/.vs/FiscalNet/CopilotIndices/17.14.1231.31060
